@font-face {
  font-family: 'Tripor';
  src: url('../fonts/Tripor.ttf?yomkwx') format('truetype');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Tripor' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tripor-information:before {
  content: "\e904";
}
.tripor-angle:before {
  content: "\e912";
}
.tripor-eraser:before {
  content: "\e911";
}
.tripor-hand:before {
  content: "\e905";
}
.tripor-cursor:before {
  content: "\e910";
}
.tripor-minus:before {
  content: "\e90e";
}
.tripor-plus:before {
  content: "\e90f";
}
.tripor-edit:before {
  content: "\e90c";
}
.tripor-layers:before {
  content: "\e90d";
}
.tripor-frame:before {
  content: "\e90b";
}
.tripor-height:before {
  content: "\e906";
}
.tripor-width:before {
  content: "\e90a";
}
.tripor-square:before {
  content: "\e900";
}
.tripor-checkmark:before {
  content: "\e901";
}
.tripor-circle:before {
  content: "\e902";
}
.tripor-close:before {
  content: "\e903";
}
.tripor-settings:before {
  content: "\e907";
}
.tripor-computer:before {
  content: "\e908";
}
.tripor-mobile:before {
  content: "\e909";
}
