.layers {
  background-color: white;
  height: 100%;
  padding: 1rem 1.5rem;
}

.new-frame__details {
  display: flex;
}

.new-frame__button-container {
  display: flex;
  justify-content: flex-end;
}
