.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c;
  .toolbar__tool {
    padding: 0.8rem 1.3rem;
    &:hover {
      background-color: #070707;
    }
  }
  .toolbar__tool.active {
    background-color: $action-blue;
  }
  .toolbar__title {
    text-align: center;
    color: white;
    font-weight: 100;
  }
}