.layers {
  background-color: white;
  height: 100%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 1px;
  width: 12rem;
  border-right: 0.5px solid #bdbdbd;
  display: flex;
  flex-direction: column;
  .layers__title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: #6d6d6d;
    align-self: center;
  }
  .tree__item {
    user-select: none;
  }
  .bordered {
    border: 1px solid white;
  }
  .bordered:hover {
    border-color: $action-blue;
  }
  .m-draggable {
    position: absolute;
  }
}

.new-frame__button-container {
  display: flex;
  justify-content: flex-end;
}
