.properties {
  background-color: white;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 0.5px solid #bdbdbd;
  .properties__title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: #6d6d6d;
    text-align: center;
    align-self: center;
  }
  .properties__section {
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
    padding: 1rem 1.5rem;
    color: #444;
    width: 100%;
  }
  .properties__border {
    border: 1px solid #e5e5e5;
    padding-top: 0.18rem;
    padding-bottom: 0.18rem;
    color: #444;
  }
  .properties__positioner-container {
    display: flex;
    flex-wrap: wrap;
    .properties__positioner-container__item {
      display: flex;
      align-items: center;
      width: calc(50% - 0.65rem);
    }
  }
  .properties__color-container {
    display: flex;
    position: relative;
    .properties__color-container__popover {
      position: absolute;
      z-index: 2;
      left: -130%;
    }
    .properties__color-container__cover {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}